{% extends "layoutt.html" %}
{% block subtitle %}History{% endblock %}
{% block text %}This is the History{% endblock %}

{% block content %}
    <h1>{{ subtitle }}</h1>
    <p>{{ text }}</p>

    {% if favorites or color_entries %}
        <h3>Favorite Colors:</h3>
        {% if favorites %}
            {% for favorite in favorites %}
                <div>
                    <h4>Result:</h4>
                    <img src="{{ favorite.one }}">
                    <img src="{{ favorite.two }}">
                    <img src="{{ favorite.three }}">
                    <img src="{{ favorite.four }}">
                    <img src="{{ favorite.five }}">
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No favorite colors selected.</p>
        {% endif %}

        <h3>Color Entries:</h3>
        {% if color_entries %}
            {% for color_entry in color_entries %}
                <div>
                    <h4>Result:</h4>
                    <img src="{{ color_entry.one }}">
                    <img src="{{ color_entry.two }}">
                    <img src="{{ color_entry.three }}">
                    <img src="{{ color_entry.four }}">
                    <img src="{{ color_entry.five }}">
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No color entries found.</p>
        {% endif %}

        <form action="{{ url_for('clear_entries') }}" method="POST">
            <input type="hidden" name="_method" value="POST">
            <button type="submit" class="btn btn-danger">Clear Entries</button>
            <div style="margin-top: 10px;">
                <a href="{{ request.referrer }}" class="btn btn-primary">Return</a>
            </div>
        {% else %}
            <p>No entries found.</p>
            <div style="margin-top: 10px;">
                <a href="{{ request.referrer }}" class="btn btn-primary">Return</a>
            </div>
        {% endif %}
    {% endblock %}
