<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='personalized.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='random.css') }}">
</head>

<body>
  <header>
    <div class="container">
      <h1>Color Palette</h1>
    </div>
  </header>

  <nav class="navbar">
    <div class="container">
      <a href="/">Welcome</a>
      <a href="/random">Random</a>
      <a href="/personalized">Personalized</a>
      <a href="/history">History</a>
      <a href="/favorites">Favorites</a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <h1 class="card-title">{% block subtitle %}{% endblock %}</h1>
      <p class="card-text">{% block text %}{% endblock %}</p>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>
